.head {
  display: flex;
  justify-content: center;

  background-image: url("../components/images/wengang-zhai-BFB7ydn1-DI-unsplash\ copy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vw;
  h1 {
    font-size: 70px;
  }
  p {
    font-size: 40px;
    padding-left: 5vw;
  }
}
