.licenses {
  background-color: rgb(5, 207, 207);
  //display: flex;
  color: white;
  h1 {
    display: flex;
    justify-content: center;
  }
  h3 {
    display: flex;
    justify-content: center;
  }
  p {
    display: flex;
    justify-content: center;
  }
}
